// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding-top: 35px;
  margin-bottom: 85px;
  border-top: 1px solid $amber;
  p {
    font-size: 15px;
    color: $amber-dark;
  }
  a {
    text-decoration: none;
  }
}
